Should the security.txt check follow redirects?

I was looking into this tweet:

> This is great: having a security.txt file is now mandatory for Dutch government websites. They either need to apply this as a standard or provide a good justification for why they're not using it ("Apply of Explain")

https://twitter.com/troyhunt/status/1664018131004665856

I made a [list of Dutch government websites](https://www.overheid.nl/english/dutch-government-websites) and queried the security.txt custom metric used by the Security chapter:

```sql
SELECT DISTINCT
  rank,
  page,
  JSON_VALUE(custom_metrics, '$.well-known."/.well-known/security.txt".found') AS has_security_txt
FROM
  `httparchive.all.pages`
WHERE
  date = '2023-05-01' AND
  page IN (
    "https://www.government.nl/",
    "https://www.cbs.nl/",
    "https://business.gov.nl/",
    "https://investinholland.com/",
    "https://www.dnb.nl/",
    "https://www.belastingdienst.nl/",
    "https://www.kvk.nl/",
    "https://www.acm.nl/",
    "https://english.rvo.nl/",
    "http://www.en.octrooigemachtigde.nl/",
    "https://www.knaw.nl/",
    "https://www.nwo.nl/",
    "https://ind.nl/",
    "https://www.werk.nl/",
    "https://www.ser.nl/",
    "https://www.svb.nl/",
    "https://www.uwv.nl/",
    "https://www.zn.nl/",
    "https://www.rivm.nl/",
    "https://duo.nl/",
    "https://www.studyinnl.org/",
    "https://www.nbtc.nl/",
    "https://www.museumserver.nl/",
    "https://english.defensie.nl/",
    "https://www.visitdrenthe.com/",
    "https://www.visitflevoland.nl/",
    "https://www.fryslan.frl/",
    "https://www.gelderland.nl/",
    "https://www.provinciegroningen.nl/",
    "https://www.limburg.nl/",
    "https://english.brabant.nl/",
    "https://www.noord-holland.nl/",
    "http://www.overijssel.nl/",
    "https://www.provincie-utrecht.nl/",
    "https://www.zeeland.nl/",
    "https://www.zuid-holland.eu/",
    "https://www.amsterdam.nl/",
    "https://www.rotterdam.nl/",
    "https://www.denhaag.nl/",
    "https://www.utrecht.nl/",
    "https://almanak.overheid.nl/",
    "https://www.houseofrepresentatives.nl/",
    "https://www.eerstekamer.nl/",
    "https://www.royal-house.nl/",
    "https://europa.eu/"
)
ORDER BY
  rank
```

Results:

rank | page | has_security_txt
-- | -- | --
10000 | https://www.belastingdienst.nl/ | TRUE
50000 | https://www.kvk.nl/ | FALSE
50000 | https://www.uwv.nl/ | FALSE
100000 | https://ind.nl/ |  
100000 | https://duo.nl/ | FALSE
100000 | https://www.svb.nl/ | TRUE
100000 | https://www.government.nl/ |  
100000 | https://www.amsterdam.nl/ | FALSE
500000 | https://business.gov.nl/ | FALSE
500000 | https://www.denhaag.nl/ | FALSE
500000 | https://www.rotterdam.nl/ | FALSE
500000 | https://www.studyinnl.org/ | FALSE
500000 | https://www.rivm.nl/ | TRUE
500000 | https://www.werk.nl/ | FALSE
500000 | https://www.cbs.nl/ | FALSE
500000 | https://www.utrecht.nl/ | FALSE
1000000 | https://www.visitflevoland.nl/ | FALSE
1000000 | https://www.eerstekamer.nl/ | TRUE
1000000 | https://www.royal-house.nl/ |  
1000000 | https://www.noord-holland.nl/ | FALSE
1000000 | https://www.gelderland.nl/ | FALSE
1000000 | https://www.nwo.nl/ | FALSE
1000000 | https://www.acm.nl/ |  
1000000 | https://www.dnb.nl/ | TRUE
5000000 | https://www.zn.nl/ | FALSE
5000000 | https://www.houseofrepresentatives.nl/ |  
5000000 | https://investinholland.com/ | FALSE
5000000 | https://www.ser.nl/ | FALSE
5000000 | https://www.knaw.nl/ | FALSE
5000000 | https://www.provincie-utrecht.nl/ | FALSE
5000000 | https://english.defensie.nl/ |  
5000000 | https://www.limburg.nl/ | TRUE
5000000 | https://www.zeeland.nl/ | FALSE
5000000 | https://www.fryslan.frl/ | FALSE
5000000 | https://www.provinciegroningen.nl/ | TRUE
5000000 | https://www.museumserver.nl/ | FALSE
5000000 | https://english.rvo.nl/ |  
50000000 | https://www.visitdrenthe.com/ | FALSE

I was a bit surprised by so many "FALSE" values, so I visited a few and for example https://www.amsterdam.nl/.well-known/security.txt redirects to https://www.amsterdam.nl/publish/pages/1029157/webpack/security.txt.

WPT results: https://webpagetest.httparchive.org/result/230601_EE_1/1/details/

In the [source code](https://github.com/HTTPArchive/custom-metrics/blob/8497c859ef0a7c99924981f369bb53eb3441bd6c/dist/well-known.js#L128) for the custom metric, I see we're using `parseResponse` as opposed to the newer `parseResponseWithRedirects` function.

Any reason we shouldn't follow redirects for this and all other well-known checks?

cc @SaptakS @vikvanderlinden @VictorLeP @GJFR

According to [section 3 of RFC9116](https://www.rfc-editor.org/rfc/rfc9116#section-3) "Retrieval of "security.txt" files and resources indicated within such files may result in a redirect [...]".
The document also suggests in [section 5.2](https://www.rfc-editor.org/rfc/rfc9116#section-5.2) that the redirects should be recorded and checked "since they can lead to a different domain or IP address controlled by an attacker."

So looks like the redirects should be followed indeed.